/* .firebaseui-subtitle,
.firebaseui-text {
  color: rgba(255, 255, 255, 0.87);
}
.firebaseui-form-actions
  .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: #46b430;
}

.mdl-shadow--2dp {
  box-shadow: 0;
  border: 10px solid white;
}

.firebaseui-card-header {
  display: none;
} */
